/* General Styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling across the whole page */
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.6;
  background-color: #ecedef;
  color: #192030;
}

a{
  text-decoration: none;
  color: white;
}

/* Hero section styles */
.hero {
  display: grid;
  grid-template-rows: 100px 1fr;
  height: 100vh;
  background-image: url('../assets/hero-2.png');
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 300px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-options {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-options li {
  margin-right: 20px;
}

.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  padding-top: 50px;
}

.heading {
  text-shadow: 3px 3px 20px black;

  font-size: 10rem;
  font-weight: bold;
  color:  #ffffff;
}


/* Button Container Styling */
.button-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 0 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Explore Button Styling */
.explore-btn {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between image and text */
  text-decoration: none;
  background-color: #ecedef;
  padding: 12px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* On hover, make the button stand out */
.explore-btn:hover {
  background-color: white;
  transform: translateY(-7px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Image inside the button (Search Icon) */
.explore-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain; /* Ensure the image fits properly */
}

/* Text inside the button */
.explore-btn p {
  font-size: 1.2em;
  color:#192030;
  margin: 0;
  font-weight: bold;
}

/* Styling for the status text "IN DANGER" */
.status-text {
  font-size: 2.5em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;

  text-shadow: 3px 3px 20px black
}

/* Page 2 */
.change-section{
  height: 100vh;
}

.change-section h2{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #192030;
  font-size: 3rem;
}

.flex-container{
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  padding-bottom: 20px;
}

.column-1{
  padding-right: 20px;
  width: 40%;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.column-1:hover{
  transform: translateY(-10px);
}

.vertical-image {
  height: 500px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0 1px 10px #192030;
}

.column-2 {
  height: 100%;
  width: 60%;
  padding-left: 20px;
  overflow: hidden;
}

.text-row {
  height: 200px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-row P{
  font-size: 1rem;
}

.landscape-image {
  height: 280px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 1px 10px #192030;

  transition: 0.3s ease-in-out;
}

.landscape-image:hover{
  transform: translateY(-10px);
}

/* Factors affecting climate change section styles */
.factors-section {
  padding: 0 50px;
}

.factors-section h2{
  padding-top: 50px;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #192030;
  font-size: 3rem;
}

.factor-flex-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.factor-image {
  position: relative; /* Allows positioning elements inside the image container */
  overflow: hidden;
  width: 65%;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.climate-image {
  width: 100%;
  border-radius: 20px;
  flex-shrink: 0;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%); /* Centers the controls vertically */
  pointer-events: none; /* Allows clicking on images without being blocked by controls */
}

.carousel-controls .prev,
.carousel-controls .next {
  pointer-events: auto; /* Enables click events for the control buttons */
  cursor: pointer;
  font-size: 36px;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.2); /* Adds a translucent background for visibility */
  border-radius: 25%;
  user-select: none;
}

.carousel-controls .prev {
  margin-left: 10px;
}

.carousel-controls .next {
  margin-right: 10px;
}

.carousel-controls .prev:hover,
.carousel-controls .next:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

.factor-description {
  width: 35%;
  padding: 40px;
  max-height: 300px; /* Set the maximum height */
  overflow: auto;    /* or overflow: hidden; */
  transition: 0.3s all ease-in-out;
}

.left-margin{
  margin-left: 20px;
}

.factor-description:hover {
  /* Reveal scrollbar on hover for Firefox */
  scrollbar-width: thin; /* Show thin scrollbar when hovered */
}

/* Webkit browsers (Chrome, Safari, Edge) */
.factor-description::-webkit-scrollbar {
  width: 0; /* Initially hide scrollbar */
  transition: width 0.3s ease-in-out;
}

/* When hovered, show the scrollbar */
.factor-description:hover::-webkit-scrollbar {
  width: 10px; /* Reveal scrollbar when hovered */
}

.factor-description::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.factor-description::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.factor-description::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.factor-description:hover{
  background: #192030;
  color: #ecedef;
  border-radius: 30px;

}

.subheading {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.description {
  font-size: 1em;
}


/* Team Section Styling */
.team-section {
  padding: 60px;
  text-align: center;
  background-color: #ecedef;
}

.team-heading {
  margin-top: 120px;
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #192030;;
}

.team-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.team-member {
  width: 22%;
  aspect-ratio: 9 / 13; /* 9:16 aspect ratio */
  background-color: #ecedef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.team-member:hover {
  transform: translateY(-10px);
}

/* Member Image */
.member-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.member-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop image from the center */
  object-position: center; /* Center the cropped area */
}

/* Member Info */
.member-info {
  padding: 20px;
  text-align: center;
  background-color: #ecedef;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.member-name {
  font-size: 1.5em;
  color: #192030;;
}

.member-role {
  font-size: 1.1em;
  color: #777;
}

/* Hover effect to reveal the overlay */
.member-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: #192030;;
  color: #ecedef;
  padding: 20px;
  text-align: center;
  transition: bottom 0.3s ease;
}

.team-member:hover .member-overlay {
  bottom: 0;
}

.overlay-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.overlay-description {
  font-size: 1em;
}

/* relation */

.relation-container {
  background-color: #ecedef;
  color: #192030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin-top: 200px;
  padding: 0 50px;
}

.relation-container h1 {
  font-size: 3rem;
}

/* Footer styles */
.footer {
  background-color: #192030;
  color: #ecedef;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.column-1-footer {
  width: 50%;
  margin-right: 20px;
}

.column-2-footer {
  width: 50%;
  padding-left: 20px;
}

.team-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.email {
  font-size: 18px;
  margin-bottom: 10px;
}

.phone {
  font-size: 18px;
  margin-bottom: 20px;
}

.social-media {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
}

.social-links a:hover {
  color: #ccc;
}

.instagram {
  background-image: url('instagram-icon.png');
  background-size: 20px 20px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.facebook {
  background-image: url('facebook-icon.png');
  background-size: 20px 20px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.github {
  background-image: url('github-icon.png');
  background-size: 20px 20px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
}